@charset "UTF-8";
/* CSS Document */
@font-face {font-family:"Foremost";
src:url("Foremost Italic.ttf") format("woff2");
font-style:italic}

@font-face {font-family:"Foremost";
src:url("Foremost Regular.ttf") format("woff2");
font-style:normal}

body{
background:url("imgs/no.png");
overflow-y: hidden;
background-repeat: no-repeat;
background-position:center;}

#CM{
color:white;
position: absolute;  
top: 50%;
left: 53%;
transform: translate(-50%, -50%);
font-size:20px;
text-decoration:none;}

#CM:hover{color:#ffae00;}

#GB{margin-top:3%;
margin-bottom:2%;
margin-left:7%;
font-family:"Foremost";
font-size:150px;
text-align: center;
background:url("imgs/gold1.png");
-webkit-background-clip: text;
background-clip: text;
color: transparent;
background-size:80%}

#MN{
color:#ffae00; 
text-align:right;
margin-right:5%;
margin-bottom:5%;
font-size:20px;
display:block;
text-decoration: none;
}

#MN:hover{color:white;}

#WRAPPER{position: relative;}

#CD {
animation: spin 8s linear infinite;
width: fit-content;
margin-left:34%;
margin-top:0%;
}

#CD img {
 width: 550px;   
height: auto;
	
}
#CD:hover {
  animation-play-state: paused;
}

@keyframes spin {
from { transform: rotate(0deg); }
to   { transform: rotate(360deg); }}

#idk {background:beige;padding:500px;}

#text{text-align: center; 
	margin-top:30%;}
#empty{}


/* mobile section */


@media only screen and (max-width: 768px)
{
	
body{
background:url("imgs/no.jpg");
background-repeat: no-repeat;
min-height: 100vh; 
margin:0;
background-size:cover;
background-position:50% 50%;}

#GB{
font-family:"Foremost";
font-size:90px;
text-align: center;
background:url("imgs/gold1.png");
-webkit-background-clip: text;
background-clip: text;
color: transparent;
background-size:80%;
margin-top:15%;}
	
#CD img {
 width: 400px;   
height: auto;}
	
#CM{
color:white;
position: absolute;  
transform: translate(-50%, -50%);
font-size:15px;
text-decoration:none;
top: 50%;
left: 53%;}

#CD {
margin-left:25%;
margin-top:0%;
}




}



