@charset "UTF-8";
/* CSS Document */
@font-face {font-family:"Foremost";
src:url("Foremost Italic.ttf") format("woff2");
font-style:italic}

@font-face {font-family:"Foremost";
src:url("Foremost Regular.ttf") format("woff2");
font-style:normal}

html, body{margin: 0; height:100%; overflow-y: hidden;}

#homepage{
overflow-y: hidden;
background:url("imgs/no.png");
background-repeat: no-repeat;
background-position:center;}



#CM{
color:white;
position: absolute;  
top: 50%;
left: 53%;
transform: translate(-50%, -50%);
font-size:20px;
text-decoration:none;}

#CM:hover{color:#ffae00;}

#GB{margin-top:3%;
margin-bottom:2%;
margin-left:7%;
font-family:"Foremost";
font-size:150px;
text-align: center;
background:url("imgs/gold1.png");
-webkit-background-clip: text;
background-clip: text;
color: transparent;
background-size:80%}

#MN{
color:#ffae00; 
text-align:right;
margin-right:5%;
margin-bottom:5%;
font-size:20px;
display:block;
text-decoration: none;
}

#MN:hover{color:white;}

#WRAPPER{position: relative;}

#CD {
animation: spin 8s linear infinite;
width: fit-content;
margin-left:34%;
margin-top:0%;
}

#CD img {
 width: 550px;   
height: auto;
	
}
#CD:hover {
  animation-play-state: paused;
}

@keyframes spin {
from { transform: rotate(0deg); }
to   { transform: rotate(360deg); }}

#corkboard {
background:url("imgs/brown2.png");
background-size:cover;
background-repeat: no-repeat;
z-index: 0;
height:100%;
width:100%}


#flower{
background:url("imgs/page.png");
width:1100px;
height:740px;
margin: 0px auto 0;
padding-top:6%;
background-repeat: no-repeat;
background-position: center;
background-size:120%;
position:relative;
z-index: 3;


}

#corner{
background:url("imgs/corner.png");
background-repeat:no-repeat;
background-position:top;}

#indexcard{
background-size:contain;
background-position:center;
background-repeat: no-repeat;
text-align:center;
padding-top:80px;
width: 100%;
height: 500px;

} 

#text{
text-align:left;
max-width: 450px;
margin-left:120px;
font-family:"Fraunces";
font-weight:200;
font-size:20px;
color:#360000;
padding:0px;
line-height: 1.3}

h1{font-family:"Fraunces";
font-style:italic;
font-weight:400;
font-size:50px;}

#cam{
height:auto; 
width:15%;
transform: translate(-290px,-400px) rotate(-20deg)}

span{color:darkgoldenrod; font-weight:400; }

#moon{
height:auto; 
width:15%;
transform: translate(110px, 100px), ;}

.links{
font-family:"Homemade Apple";
text-decoration:none;
position:absolute;
bottom:3px;
color:#3C1900;
font-size:20px;
}

.links:hover
{color:#ffae00}

#CTC{right:15px;}

#BTCD {left:15px}
